<!DOCTYPE html>
<html>
    <%- include("partials/head.ejs") %>
<body>
    <div class="container">
        <%- include("partials/nav.ejs") %>

        <div class="row">
            <div class="col-3 pt-3">
                SIDEBAR
                <ul class="list-group list-group-flush">
                    <% product.forEach(item => { %>
                        <li class="list-group-item list-group-item-success" onclick="getProduct('<%= item._id %>')"><%= item.name %></li>
                    <% }); %>
                </ul> 
            </div>
            <div class="col-9">
                <div class="row pt-4">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="productNameInput" placeholder="Tên sản phẩm">
                            <input type="text" class="form-control" id="productPriceInput" placeholder="Giá sản phẩm">
                            <input type="text" class="form-control" id="productDescriptionInput" placeholder="Mô tả sản phẩm">
                            <button class="btn btn-primary" onclick="addProduct()">Thêm sản phẩm</button>
                            <button class="btn btn-warning" onclick="updateProductDB()">Cập nhật sản phẩm</button>
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-4">
                        <img src="https://via.placeholder.com/300" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <h3 id="productName"><%= product.name %></h3>
                        <p id="productPrice">Giá:  <%= product.price %> đ</p>
                        <p id="productId" style="display: none;"></p>
                        <p id="productDescription"><%= product.description %></p>
                        <button class="btn btn-primary">Mua hàng</button>
                        <button class="btn btn-danger" id="btnDeleteProduct" onclick="deleteProduct()">Xoá</button>
                        <button class="btn btn-warning" id="btnUpdateProduct" onclick="updateProductDB()">Cập nhật</button>
                    </div>
                </div>
                <hr>
                <div class="row my-3">
                    <div class="col">
                        <h4>Hướng dẫn sử dụng</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-info">
            <div class="col text-center pt-2">
                <h6>K18 - COPY_RIGHT</h6>
            </div>
        </div>
    </div>
    <script src="/javascripts/app.js"></script>
</body>
</html>