<!DOCTYPE html>
<html>
    <%- include("partials/head.ejs") %>
<body>
    <div class="container">
        <%- include("partials/nav.ejs") %>

        <div class="row">
            <div class="col-3 pt-3">
                <div class="list-group">
                    <a href="/product?id=id1" class="list-group-item list-group-item-action">Sản phẩm 1</a>
                    <a href="/product?id=id2" class="list-group-item list-group-item-action">Sản phẩm 2</a>
                    <a href="/product?id=id3" class="list-group-item list-group-item-action">Sản phẩm 3</a>
                </div> 
               
            </div>
            <div class="col-9">
                <div class="row pt-4">
                    <div class="col-4">
                        <img src="https://via.placeholder.com/300" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <h3><%= product.name %></h3>
                        <p>Giá:  <%= product.price %> đ</p>
                        <p><%= product.description %></p>
                        <button class="btn btn-primary">Mua hàng</button>
                    </div>
                </div>
                <hr>
                <div class="row my-3">
                    <div class="col">
                        <h4>Hướng dẫn sử dụng</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-info">
            <div class="col text-center pt-2">
                <h6>K18 - COPY_RIGHT</h6>
            </div>
        </div>
    </div>
</body>

</html>